*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.container>.calculator {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 27%) auto;
    gap: 0.4rem;
}

.container>.calculator>* {
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-weight: bold;
}

.container>.calculator>button {
    background-color: #08b908;
    color: #ffffff;
    cursor: pointer;
}

.container>.calculator>button:hover {
    transition: 0.2s;
    opacity: 0.8;
}

.container>.calculator>.input {
    border: 1px solid;
    grid-column: 1 / 4;
}